xml/definicoes.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT cardapio ( prato+ )>
<!ELEMENT prato (nome, ingredientes+, tempo_preparo, descricao, preco, calorias)>
<!ATTLIST prato id ID #REQUIRED>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT tempo_preparo (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda (BRL|USD) "BRL">
<!ELEMENT calorias (#PCDATA)>
<!ENTITY reais "R$">
